{% extends "base.html" %}
{% block base %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">超级牛逼的平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#" class="glyphicon glyphicon-th-large"> 项目管理 <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="/module/" class="glyphicon glyphicon-file"> 模块管理</a></li>
                <li class="active"><a href="#">用例管理</a></li>
                <li><a href="#">任务管理</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">mock Server</a></li>
                <li><a href="">测试工具</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">接口调式</h2>
           <form action="/logout/" method="post">
                {% csrf_token %}
                <input type="submit" value="logout"></form>
        </div>
    </div>

</div>

<script src=""></script>
<script type="text/javascript">
    function jsFun(){
        var url = $("#req_url").val();
        var method = $("input[name='req_method']:checked").val();
        var header = $("#header").val();
        var type = $("input[name='par_type']:checked").val();
        var parameter = $("#parameter").val();

        if (url == ""){
            window.alery("URL不能为空");
            return; }

        $.post("/case/debug",
          {
            url: url,
            method: method,
            header: header,
            type: type,
            parameter: parameter,
          },
          function(data,status){
            alert("Data: " + data + "\nStatus: " + status);
            console.log("return data:", data.result);
            document.querySelector("#result").value = result.data;
          });

    }

</script>


{% endblock %}



