{% extends "base.html" %}
{% block base %}
<form class="form-signin" style="max-width: 300px"
      action="/index/" method="post">
    <h2 class="form-signin-heading">测试平台</h2>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="text" id="inputUsername" class="form-control"
           placeholder="username" required autofocus name="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control"
           placeholder="Password" required name="password">
    <div style="color:red">{{error}}</div>
    {% csrf_token %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}
