{% extends "base.html" %}
{% block base %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/project/" class="glyphicon glyphicon-th-large"> 项目管理</a></li>
            <li class="active"><a href="#" class="glyphicon glyphicon-file" > 模块管理</a></li>
            <li><a href="/case/">用例管理</a></li>
            <li><a href="/task/">任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">mock Server</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <!-- 项目列表 -->
          {% if type == "list" %}
          <h2 class="sub-header">模块列表
            <button type="button"
                    class="btn btn-sm btn-primary"
                    style="float:right"
                    onclick="location.href='/module/add_module/'">新增按钮真厉害</button>
          </h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>id</th>
                <th>名称</th>
                <th>描述</th>
                <th>状态</th>
                <th>项目</th>
                <th>创建时间</th>
              </tr>
              </thead>
              <tbody>
              {% for module in modules %}
              <tr>
                <td>{{module.id}}</td>
                <td>{{module.name}}</td>
                <td>{{module.describe}}</td>
                <td>
                  {% if module.status == True %}
                  <span>开启</span>
                  {% else %}
                  <span>关闭</span>
                  {% endif %}
                </td>
                <td>{{module.project}}</td>
                <td>{{ module.create_time|date:"Y-m-d H:i:s" }}</td>
                <td> <a href="/module/edit_module/{{ module.id }}/">
                  <i class="glyphicon glyphicon-pencil"></i></a></td>
                <td> <a href="/module/delete_module/{{ module.id }}/">
                  <i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            <form action="/logout/" method="post">
              {% csrf_token %}
              <input type="submit" value="logout"></form>
          </div>
          {% endif %}
          <!--添加模块-->
          {% if type == "add" %}
          <h4 class="sub-header">添加模块</h4>
          <div>
            <form class="form-horizontal" method="post" action="/module/add_module/">
              <label class="control-label valtype" data-valtype="label">模块名称</label>
              <div class="control-group">
                <label class="control-label">项目</label>
                <div class="controls">
                  {{ form.project }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">名称</label>
                <div class="controls">
                  {{ form.name }}
                </div>
              </div>
              <label class="control-label valtype" data-valtype="label">描述</label>
              <div class="controls">
                <div class="textarea">
                  {{ form.describe }}
                </div>
              </div>
              <label class="control-label valtype" data-valtype="label">状态</label>
              <div class="controls valtype" data-valtype="radios">
                <label class="radio">
                  <input type="radio" value="1" name="status" checked="checked">
                  开启
                </label>
                <label class="radio">
                  <input type="radio" value="0" name="status">
                  关闭
                </label>
              </div>
              {% csrf_token %}
              <input type="submit" value="submit">
            </form>
          </div>
          {% endif %}
          <!--编辑项目-->
          {% if type == "edit" %}
          <h4 class="sub-header">编辑项目</h4>
          <form action="/module/edit_module/{{ mid }}/" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="submit">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

