{% extends "task_list.html" %}
{% block taskAdd %}
{% csrf_token %}



<div >
    <h2 class="sub-header">任务管理</h2>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">* 名称</span>
        <input type="text" id="name"  class="form-control" placeholder="url" aria-describedby="basic-addon1">
    </div>
    <div class="input-group" style="padding-top: 10px;" >
        <span class="input-group-addon" > 描述</span>
        <input type="text" id="describe" class="form-control" placeholder='描述' aria-describedby="basic-addon1">
    </div>
    <p style="padding-top: 10px;">
        <button name="send" type="button" class="btn btn-primary btn-lg btn-block" onclick="saveTask()">保存</button>
    </p>
    <ul id="treeDemo" class="ztree"></ul>


</div>



<script type="text/javascript">
    caseTreeInit()

    function saveTask() {
    window.alert("点击了保存");
        var  TreeObj = $.fn.zTree.getZTreeObj("treeDemo");   // 获取treedemo的元素
        var  nodes = TreeObj.getCheckedNodes(true);  // 获取被勾选中的元素
        for(let i=0; i < nodes.length; i++){
            console.log("选中的节点", nodes[i].name);
        }
    }
</script>


{% endblock %}
