<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>hello,{{name}}</h1><br>
    <link rel="stylesheet" type="text/css" herf="{% static}"css/bootstrap.min.css" %}"</link>

    <script src = bootstrap.min.js></script>

 </head>
<body>
    <form>
        <p>username:
            <input type="text" name="username"  />
        </p>
        <p>password:
            <input type="text" name="password" />
        </p>
        <input type="submit" value="Login">
    </form>
</body>
</html>